# Entornos virtuales de cada programador
env/
venv/
ENV/

# Base de datos local (evita sobreescritura de datos de prueba)
db.sqlite3

# Archivos compilados de Python (basura del sistema)
__pycache__/
*.pyc
*.pyo

# Archivos de sistema operativo
.DS_Store
Thumbs.db

.envmedia/
